@media only screen and (max-width: 600px){
      .contenedor {
          grid-template-columns: repeat(1, 1fr);
          grid-template-rows: repeat(5, auto);
          grid-template-areas: "header"
                   "contenido "
                   "sidebar"
                   "caja1 "
                   "footer";}
      }

